/*  公共样式 */
/* 清除浏览器默认样式 */
* {
	margin: 0;
	padding: 0;
}

/* 设置全局统一样式 */
 body, button, input, select, textarea {
     font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	 color: #3c3c3c;
	 cursor: default;
 }

 li {
	 list-style: none;
 }
 
 a {
	 text-decoration: none;
	 color: #3c3c3c;
 }
 a:hover {
	 color: #ff4400;
 }
 
