 
 /* 第一个轮播图 */
 #first-banner-container {
	 width: 520px;
	 height: 280px;
	 /* border-radius: 20px; */
	 position: relative;
	 overflow: hidden;
	
 }
 
 #first-banner-wrap {
	 width: 3640px;
	 height: 280px; 
	 position: absolute;
	 /* border: 2px solid black; */
	/* float: left; */ /*如果对父元素进行浮动,子元素未浮动,最后一张图片会浮动到第二行？？？*/
 }
 #first-banner-wrap img {
	 width: 520px;
	 height: 280px;
	 float: left;
 }
 
 #first-banner-bots {
	 position: absolute;
	 z-index: 2;
	 bottom: 10px;
	 left: 40%; /*如何确保定位位置在中间的位置*/ 
	
 }
 #first-banner-bots span{
	 display: inline-block;
	 width: 10px;
	 height: 10px;
	 background-color: white;
	 text-align: center;
	 border-radius: 50%;
 }
 /* 当到小圆点的时候,小圆点背景色会发生变化 */
  #first-banner-bots span.on {
	  background-color:#ff5000;
  }
 
#first-banner-container .arrow{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 1000;
	top: 40%;
}

#first-banner-container .arrow{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 1000;
	top: 40%;
	font-size: 18px;
	background-color: rgba(100,100,100,.6);
	border-radius: 40%;	
	color: whitesmoke;
	text-align: center;
}

 #first-banner-container .arrow-left{
	 left: -6px;	 
 }
 #first-banner-container .arrow-right {
 	 right: -6px;
 }