/* 业务中相同元素统一 */

/* body背景 */
body,html{
	background: 0 36px repeat-y url('https://img.alicdn.com/imgextra/i3/O1CN01PaQurJ1QgnAICTCgg_!!6000000002006-2-tps-1490-2984.png');
	background-size: cover;
}

/*topBar中 向下的小三角形  */
img.triangle-icon{
	  width: 5px;
	  height: 5px;
	  margin-right: 5px;
	  margin-left: 5px;
		
}